<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/home" class="site_title"><i class="fa fa-paw"></i></a>
                </div>

                <div class="clearfix"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="/home"><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li>
                                <a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard </a>
                            </li>
                            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">Level One</a>
                                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li class="sub_menu"><a href="#">Level Two</a>
                                            </li>
                                            <li><a href="#">Level Two</a>
                                            </li>
                                            <li><a href="#">Level Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Level One</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu navbar-static-top">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li *ngIf="user == null">
                            <a href="#" data-toggle="modal" data-target="#sign-in" aria-expanded="false">
                                <i class="fa fa-sign-in"></i> Sign In
                            </a>
                        </li>
                        <li *ngIf="user != null">
                            <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="https://secure.gravatar.com/avatar/b5819e2343e70621c23cbb51b69b1c6e" alt="">John Doe
                                <i class=" fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/profile"> Profile</a></li>
                                <li><a class="hand" (click)="signOut()"><i class="fa fa-sign-out pull-right"></i> Sign Out</a></li>
                            </ul>
                        </li>

                        <li *ngIf="false" role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="https://secure.gravatar.com/avatar/b5819e2343e70621c23cbb51b69b1c6e" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="https://secure.gravatar.com/avatar/b5819e2343e70621c23cbb51b69b1c6e" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->


        <!--Modal-->
        <user-sign-in ngModel="user"></user-sign-in>
        <!--Application start-->

        <div class="right_col" role="main">
            <router-outlet></router-outlet>
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                2017 - Statdeeztics
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

